.message-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #f4a261;
}

.buttons {
    
    display: grid;
    gap: 10px;
    background-color: rgb(211, 193, 145);
    border-radius: 10px;
    justify-content: center;
}