.messages_container {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.messages {
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
    width: 20rem;
}

.message {
    font-size: 0.9rem;
    display: flex;
    gap: 2rem;
    border-bottom: solid 1px rgb(4, 164, 245);
}

.message:hover {
    color: blue;
}

button {
    width: 10rem;
}

.read {
    color: rgb(97, 91, 64);
}

.unread {
    color: rgb(4, 164, 245);
}