.sale_container {
    background-color: var(--color-transparent);
}

.sale_container > form {
    height: 40vh;
    gap: 0.5rem;
}

.image-prev {
    width: 200px;
    height: auto;
}

.image-prev img {
    width: 100%;
    height: auto;
}

.input_image {
    padding: 0.7rem;
}