.new-user {
    width: 70vw;
    display: flex;
    align-items: center;
    
    
}

/* will make it so when the height is not enough the elements will be next to each other */

.password-validation {
    position:relative;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
    height: 20rem;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}



.invalid {
    
    color: var(--color-dark);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 25px;
}

form input {
    background-color: rgb(169, 201, 238);
    color: black;
    height: 1rem;
    margin-bottom: 2%;
    border-radius: 5px;
    padding: 1%;
}