.password-validation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    height: 400px;
    font-family: 'Courier New', Courier, monospace;
}



.invalid {
    color: rgb(190, 11, 80);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    height: 100%;
}

form input {
    
    height: 5vh;
    margin-bottom: 2%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 1%;
}