.new-user {
    width: 70vw;
    display: flex;
    
    
    
}

/* will make it so when the height is not enough the elements will be next to each other */

.password-validation {
    position:relative;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}



.invalid {
    font-size: 0.9rem;
    color: rgb(190, 11, 80);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 25px;
}

form input {
    
    height: 1rem;
    margin-bottom: 2%;
    border-radius: 5px;
    padding: 1%;
}