form.stripe{
    position:absolute;
    top: 2rem;
    left: 15vw;
    z-index: 10;
    background-color: var(--color-main);
    width: 50rem;
    height: 30rem;
    display: grid;
    justify-items: center;
    box-shadow: 2px 15px 15px 15px black;
}

.card-element {
    display: block;
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }