#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



nav.main-nav {
  margin-bottom: 5rem;
  position: absolute;
  top: 30px;
  right: 50px;

}

.main_container {
  position: relative;
  top: 20px;
  height: 100%;
}



nav > a {
  margin: 0 1rem;
  color: #5140ce;
  text-decoration: none;
  font-size: 0.95rem;

}

