#root {
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  margin-bottom: 2rem;
  position: absolute;
  top: 30px;
  right: 50px;
}

nav > a {
  margin: 0 1rem;
  color: #0e046b;
  text-decoration: none;
}

