:root {
  font-family: 'Caprasimo', cursive;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  font-weight: 400;
  --color-main: #f49d37;
  --color-dark: #140f2d;
  --color-secondary: #3f88c5;
  --color-accent: #d72638;
  --color-red: #f22b29;
  color: var(--color-dark);
  color-scheme: light dark;

  background-image: linear-gradient(var(--color-main), var(--color-red) );
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

a {
  font-weight: 500;
  color: var(--color-dark);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--color-main);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
